.hero {
   background-color: aqua;
   &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: calc(100vh - 135px);
      background-color: #374a3d;
   }
   &__text-block {
      display: flex;
      flex-direction: column;
      flex: 1;
   }
   &__title {
      max-width: 500px;
      margin-bottom: 38px;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 72px;
      line-height: 106%;
      font-variant: small-caps;
      color: #374a3d;
      span {
         color: #0ca941;
      }
   }

   &__subtitle {
      margin-bottom: 40px;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 178%;
      font-variant: small-caps;
      color: #707070;
   }

   &__btn {
      max-width: 180px;
   }

   &__decore {
   }

   &__arrow {
   }
}
