<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Chewy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
         rel="stylesheet"
      />
      <link rel="stylesheet" href="css/style.css" />
      <title>hobby</title>
   </head>
   <body>
      <div class="decororation-full">
         <div class="decororation-full__crlc-1">
            <svg
               width="761"
               height="703"
               viewBox="0 0 761 703"
               fill="none"
               xmlns="http://www.w3.org/2000/svg"
            >
               <g filter="url(#filter0_f_2_7)">
                  <circle
                     cx="135.61"
                     cy="77.275"
                     r="257.093"
                     fill="#53C351"
                     fill-opacity="0.33"
                  />
               </g>
               <defs>
                  <filter
                     id="filter0_f_2_7"
                     x="-489.483"
                     y="-547.818"
                     width="1250.19"
                     height="1250.19"
                     filterUnits="userSpaceOnUse"
                     color-interpolation-filters="sRGB"
                  >
                     <feFlood flood-opacity="0" result="BackgroundImageFix" />
                     <feBlend
                        mode="normal"
                        in="SourceGraphic"
                        in2="BackgroundImageFix"
                        result="shape"
                     />
                     <feGaussianBlur
                        stdDeviation="184"
                        result="effect1_foregroundBlur_2_7"
                     />
                  </filter>
               </defs>
            </svg>
         </div>
         <div class="decororation-full__crlc-2">
            <svg
               width="835"
               height="966"
               viewBox="0 0 835 966"
               fill="none"
               xmlns="http://www.w3.org/2000/svg"
            >
               <g filter="url(#filter0_f_2_12)">
                  <circle
                     cx="708.869"
                     cy="256.396"
                     r="340.615"
                     fill="#FFE978"
                     fill-opacity="0.33"
                  />
               </g>
               <defs>
                  <filter
                     id="filter0_f_2_12"
                     x="0.253906"
                     y="-452.22"
                     width="1417.23"
                     height="1417.23"
                     filterUnits="userSpaceOnUse"
                     color-interpolation-filters="sRGB"
                  >
                     <feFlood flood-opacity="0" result="BackgroundImageFix" />
                     <feBlend
                        mode="normal"
                        in="SourceGraphic"
                        in2="BackgroundImageFix"
                        result="shape"
                     />
                     <feGaussianBlur
                        stdDeviation="184"
                        result="effect1_foregroundBlur_2_12"
                     />
                  </filter>
               </defs>
            </svg>
         </div>
         <div class="decororation-full__crlc-3">
            <svg
               width="735"
               height="1203"
               viewBox="0 0 735 1203"
               fill="none"
               xmlns="http://www.w3.org/2000/svg"
            >
               <g filter="url(#filter0_f_2_486)">
                  <circle
                     cx="133.194"
                     cy="601.527"
                     r="233.312"
                     fill="#FFE978"
                     fill-opacity="0.33"
                  />
               </g>
               <defs>
                  <filter
                     id="filter0_f_2_486"
                     x="-468.118"
                     y="0.215332"
                     width="1202.62"
                     height="1202.62"
                     filterUnits="userSpaceOnUse"
                     color-interpolation-filters="sRGB"
                  >
                     <feFlood flood-opacity="0" result="BackgroundImageFix" />
                     <feBlend
                        mode="normal"
                        in="SourceGraphic"
                        in2="BackgroundImageFix"
                        result="shape"
                     />
                     <feGaussianBlur
                        stdDeviation="184"
                        result="effect1_foregroundBlur_2_486"
                     />
                  </filter>
               </defs>
            </svg>
         </div>
         <div class="decororation-full__crlc-4">
            <svg
               width="958"
               height="1251"
               viewBox="0 0 958 1251"
               fill="none"
               xmlns="http://www.w3.org/2000/svg"
            >
               <g filter="url(#filter0_f_2_8)">
                  <circle
                     cx="332.004"
                     cy="625.45"
                     r="257.093"
                     fill="#53C351"
                     fill-opacity="0.33"
                  />
               </g>
               <defs>
                  <filter
                     id="filter0_f_2_8"
                     x="-293.089"
                     y="0.357422"
                     width="1250.19"
                     height="1250.19"
                     filterUnits="userSpaceOnUse"
                     color-interpolation-filters="sRGB"
                  >
                     <feFlood flood-opacity="0" result="BackgroundImageFix" />
                     <feBlend
                        mode="normal"
                        in="SourceGraphic"
                        in2="BackgroundImageFix"
                        result="shape"
                     />
                     <feGaussianBlur
                        stdDeviation="184"
                        result="effect1_foregroundBlur_2_8"
                     />
                  </filter>
               </defs>
            </svg>
         </div>
         <div class="decororation-full__crlc-5">
            <svg
               width="792"
               height="1251"
               viewBox="0 0 792 1251"
               fill="none"
               xmlns="http://www.w3.org/2000/svg"
            >
               <g filter="url(#filter0_f_2_9)">
                  <circle
                     cx="625.339"
                     cy="625.685"
                     r="257.093"
                     fill="#53C351"
                     fill-opacity="0.33"
                  />
               </g>
               <defs>
                  <filter
                     id="filter0_f_2_9"
                     x="0.246582"
                     y="0.591797"
                     width="1250.19"
                     height="1250.19"
                     filterUnits="userSpaceOnUse"
                     color-interpolation-filters="sRGB"
                  >
                     <feFlood flood-opacity="0" result="BackgroundImageFix" />
                     <feBlend
                        mode="normal"
                        in="SourceGraphic"
                        in2="BackgroundImageFix"
                        result="shape"
                     />
                     <feGaussianBlur
                        stdDeviation="184"
                        result="effect1_foregroundBlur_2_9"
                     />
                  </filter>
               </defs>
            </svg>
         </div>
         <div class="decororation-full__crlc-6">
            <svg
               width="725"
               height="1151"
               viewBox="0 0 725 1151"
               fill="none"
               xmlns="http://www.w3.org/2000/svg"
            >
               <g filter="url(#filter0_f_2_489)">
                  <circle
                     cx="149.186"
                     cy="575.683"
                     r="207.243"
                     fill="#FFE978"
                     fill-opacity="0.33"
                  />
               </g>
               <defs>
                  <filter
                     id="filter0_f_2_489"
                     x="-426.057"
                     y="0.44043"
                     width="1150.49"
                     height="1150.49"
                     filterUnits="userSpaceOnUse"
                     color-interpolation-filters="sRGB"
                  >
                     <feFlood flood-opacity="0" result="BackgroundImageFix" />
                     <feBlend
                        mode="normal"
                        in="SourceGraphic"
                        in2="BackgroundImageFix"
                        result="shape"
                     />
                     <feGaussianBlur
                        stdDeviation="184"
                        result="effect1_foregroundBlur_2_489"
                     />
                  </filter>
               </defs>
            </svg>
         </div>
         <div class="decororation-full__crlc-7">
            <svg
               width="942"
               height="573"
               viewBox="0 0 942 573"
               fill="none"
               xmlns="http://www.w3.org/2000/svg"
            >
               <g filter="url(#filter0_f_2_10)">
                  <circle
                     cx="277.899"
                     cy="663.765"
                     r="295.275"
                     fill="#53C351"
                     fill-opacity="0.33"
                  />
               </g>
               <defs>
                  <filter
                     id="filter0_f_2_10"
                     x="-385.376"
                     y="0.490234"
                     width="1326.55"
                     height="1326.55"
                     filterUnits="userSpaceOnUse"
                     color-interpolation-filters="sRGB"
                  >
                     <feFlood flood-opacity="0" result="BackgroundImageFix" />
                     <feBlend
                        mode="normal"
                        in="SourceGraphic"
                        in2="BackgroundImageFix"
                        result="shape"
                     />
                     <feGaussianBlur
                        stdDeviation="184"
                        result="effect1_foregroundBlur_2_10"
                     />
                  </filter>
               </defs>
            </svg>
         </div>
         <div class="decororation-full__crlc-8">
            <svg
               width="940"
               height="616"
               viewBox="0 0 940 616"
               fill="none"
               xmlns="http://www.w3.org/2000/svg"
            >
               <g filter="url(#filter0_f_2_488)">
                  <circle
                     cx="651.394"
                     cy="651.023"
                     r="282.952"
                     fill="#FFE978"
                     fill-opacity="0.33"
                  />
               </g>
               <defs>
                  <filter
                     id="filter0_f_2_488"
                     x="0.441895"
                     y="0.0703125"
                     width="1301.9"
                     height="1301.9"
                     filterUnits="userSpaceOnUse"
                     color-interpolation-filters="sRGB"
                  >
                     <feFlood flood-opacity="0" result="BackgroundImageFix" />
                     <feBlend
                        mode="normal"
                        in="SourceGraphic"
                        in2="BackgroundImageFix"
                        result="shape"
                     />
                     <feGaussianBlur
                        stdDeviation="184"
                        result="effect1_foregroundBlur_2_488"
                     />
                  </filter>
               </defs>
            </svg>
         </div>

         <!-- prettier ignore -->
         @@include('components/header.html')
         <!-- prettier ignore -->
         @@include('components/_hero.html')
         <!-- prettier ignore -->
         @@include('components/_we-give.html')
         <!-- prettier ignore -->
         @@include('components/_prof-gardener.html')
         <!-- prettier ignore -->
         @@include('components/_prof-service.html')
         <!-- prettier ignore -->
         @@include('components/_dream-plant.html')
         <!-- prettier ignore -->
         @@include('components/_ready.html')
         <!-- prettier ignore -->
         @@include('components/footer.html')
      </div>

      <script src="js/main.js"></script>
   </body>
</html>
