<section class="dream-plant">
   <div class="container">
      <h3 class="dream-plant__title title">Choose your Dream Plant</h3>
      <p class="dream-plant__subtitle text">
         Many variations of passages of Lorem Ipsum available, but the majority
         have suffered alteration in some form,
      </p>
      <div class="dream-plant__items">
         <div class="dream-plant-item">
            <div class="dream-plant-item__img">
               <img src="assets/img/sec-5-card-img1.png" alt="plant" />
            </div>
            <h5 class="dream-plant-item__title">Indoors Tropical Plant</h5>
            <div class="dream-plant-item__rating-wrapper">
               <div class="dream-plant-item__rating-stars">
                  <div class="dream-plant-item__rating-star">
                     <img src="assets/img/sec-5-star.svg" alt="star" />
                  </div>
                  <div class="dream-plant-item__rating-star">
                     <img src="assets/img/sec-5-star.svg" alt="star" />
                  </div>
                  <div class="dream-plant-item__rating-star">
                     <img src="assets/img/sec-5-star.svg" alt="star" />
                  </div>
                  <div class="dream-plant-item__rating-star">
                     <img src="assets/img/sec-5-star.svg" alt="star" />
                  </div>
                  <div class="dream-plant-item__rating-star">
                     <img src="assets/img/sec-5-star.svg" alt="star" />
                  </div>
               </div>
               <p class="dream-plant-item__rating-num">5.0 (134)</p>
            </div>
            <div class="dream-plant-item__footer">
               <div class="dream-plant-item__prise">
                  <p class="dream-plant-item__prise-text">Price</p>
                  <p class="dream-plant-item__prise-num">$150</p>
               </div>
               <button class="dream-plant-item__btn">Add To Cart</button>
            </div>
         </div>
         <div class="dream-plant-item">
            <div class="dream-plant-item__img">
               <img src="assets/img/sec-5-card-img2.png" alt="plant" />
            </div>
            <h5 class="dream-plant-item__title">Monstera Deliciosa Care</h5>
            <div class="dream-plant-item__rating-wrapper">
               <div class="dream-plant-item__rating-stars">
                  <div class="dream-plant-item__rating-star">
                     <img src="assets/img/sec-5-star.svg" alt="star" />
                  </div>
                  <div class="dream-plant-item__rating-star">
                     <img src="assets/img/sec-5-star.svg" alt="star" />
                  </div>
                  <div class="dream-plant-item__rating-star">
                     <img src="assets/img/sec-5-star.svg" alt="star" />
                  </div>
                  <div class="dream-plant-item__rating-star">
                     <img src="assets/img/sec-5-star.svg" alt="star" />
                  </div>
                  <div class="dream-plant-item__rating-star">
                     <img src="assets/img/sec-5-star.svg" alt="star" />
                  </div>
               </div>
               <p class="dream-plant-item__rating-num">5.0 (120)</p>
            </div>
            <div class="dream-plant-item__footer">
               <div class="dream-plant-item__prise">
                  <p class="dream-plant-item__prise-text">Price</p>
                  <p class="dream-plant-item__prise-num">$200</p>
               </div>
               <button class="dream-plant-item__btn">Add To Cart</button>
            </div>
         </div>
         <div class="dream-plant-item">
            <div class="dream-plant-item__img">
               <img src="assets/img/sec-5-card-img3.png" alt="plant" />
            </div>
            <h5 class="dream-plant-item__title">Indoors Leaf Potted</h5>
            <div class="dream-plant-item__rating-wrapper">
               <div class="dream-plant-item__rating-stars">
                  <div class="dream-plant-item__rating-star">
                     <img src="assets/img/sec-5-star.svg" alt="star" />
                  </div>
                  <div class="dream-plant-item__rating-star">
                     <img src="assets/img/sec-5-star.svg" alt="star" />
                  </div>
                  <div class="dream-plant-item__rating-star">
                     <img src="assets/img/sec-5-star.svg" alt="star" />
                  </div>
                  <div class="dream-plant-item__rating-star">
                     <img src="assets/img/sec-5-star.svg" alt="star" />
                  </div>
                  <div class="dream-plant-item__rating-star">
                     <img src="assets/img/sec-5-star.svg" alt="star" />
                  </div>
               </div>
               <p class="dream-plant-item__rating-num">5.0 (182)</p>
            </div>
            <div class="dream-plant-item__footer">
               <div class="dream-plant-item__prise">
                  <p class="dream-plant-item__prise-text">Price</p>
                  <p class="dream-plant-item__prise-num">$150</p>
               </div>
               <button class="dream-plant-item__btn">Add To Cart</button>
            </div>
         </div>
      </div>
   </div>
</section>
