<section class="we-give">
   <div class="we-give__decore-top">
      <img src="assets/img/main-bottom-img.svg" alt="img" />
   </div>
   <div class="container">
      <div class="we-give__wrapper">
         <div class="we-give__decore">
            <img src="assets/img/sec-2-left-img.png" alt="img" />
         </div>
         <div class="we-give__text-blok">
            <h3 class="we-give__title">We Give Awesome Landscape Service.</h3>
            <p class="we-give__subtitle">
               It is a long established fact that a reader will be distracted by
               the thing.
            </p>
         </div>
         <div class="we-give__items">
            <div class="we-give-item">
               <div class="we-give-item__title">
                  <p>25+</p>

                  <div class="we-give-item__title-decore">
                     <img src="assets/img/sec-2-item-img.svg" alt="" />
                  </div>
               </div>
               <div class="we-give-item__subtitle">
                  Complete Project Per Month.
               </div>
            </div>
            <div class="we-give-item">
               <div class="we-give-item__title">10+</div>
               <div class="we-give-item__subtitle">
                  Years Practical Experience.
               </div>
            </div>
            <div class="we-give-item">
               <div class="we-give-item__title">60+</div>
               <div class="we-give-item__subtitle">Awesome Team Members.</div>
            </div>
         </div>
      </div>
   </div>
</section>
