<footer class="footer">
   <div class="container">
      <div class="footer__wrapper">
         <div class="footer__columns">
            <div class="footer__column">
               <div class="footer__logo">
                  <img src="assets/img/logo.svg" alt="logo" />
               </div>
               <p class="footer__text text">
                  There are many variations of pass is ages of Lorem available,
                  but the majority have suffered alteration in injected humour.
               </p>
               <ul class="footer__social-list">
                  <li>
                     <a href="#">
                        <img
                           src="assets/img/social-facebook.svg"
                           alt="facebook"
                        />
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <img src="assets/img/social-pint.svg" alt="facebook" />
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <img
                           src="assets/img/social-linkid.svg"
                           alt="facebook"
                        />
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <img
                           src="assets/img/social-facebook.svg"
                           alt="facebook"
                        />
                     </a>
                  </li>
               </ul>
            </div>
            <div class="footer__column">
               <h6 class="footer__column-title">Company</h6>
               <ul class="footer__column-list">
                  <li>
                     <a href="#">About</a>
                  </li>
                  <li>
                     <a href="#">History</a>
                  </li>
                  <li>
                     <a href="#">Vision & Mission</a>
                  </li>
                  <li>
                     <a href="#"> Career</a>
                  </li>
                  <li>
                     <a href="#"> Legal Notice</a>
                  </li>
                  <li>
                     <a href="#"> Blog & News</a>
                  </li>
               </ul>
            </div>
            <div class="footer__column">
               <h6 class="footer__column-title">Support</h6>
               <ul class="footer__column-list">
                  <li>
                     <a href="#">Contact</a>
                  </li>
                  <li>
                     <a href="#">FAQ</a>
                  </li>
                  <li>
                     <a href="#">Help Center</a>
                  </li>
                  <li>
                     <a href="#">Privacy Policy</a>
                  </li>
                  <li>
                     <a href="#">Term & Service</a>
                  </li>
                  <li>
                     <a href="#">Community</a>
                  </li>
               </ul>
            </div>
            <div class="footer__column">
               <h6 class="footer__column-title">Contact</h6>
               <ul class="footer__column-list">
                  <li>
                     <a href="#"> Mirabazar-Subhanighat</a>
                  </li>
                  <li>
                     <a href="#">Rd, Sylhet-Bangladesh</a>
                  </li>
                  <li>
                     <span>Email Us</span>
                     <a href="#">useremail@gmail.com</a>
                  </li>
                  <li>
                     <span>Call Us</span>
                     <a href="#"> +6221.2002.2012</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="footer__decorations">
            <div class="footer__decore footer__decore--1">
               <img src="assets/img/footer-img1.svg" alt="img" />
            </div>
            <div class="footer__decore footer__decore--2">
               <img src="assets/img/footer-img2.svg" alt="img" />
            </div>
            <div class="footer__decore footer__decore--3">
               <img src="assets/img/footer-img3.svg" alt="img" />
            </div>
            <div class="footer__decore footer__decore--4">
               <img src="assets/img/footer-img2.svg" alt="img" />
            </div>
            <div class="footer__decore footer__decore--5">
               <img src="assets/img/footer-img1.svg" alt="img" />
            </div>
         </div>
      </div>
   </div>
</footer>
